In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
raw_ds_dir = '../final/station/1104.csv'

In [10]:
df_nov = pd.read_csv('2024_test_con.csv')
df_nov['date'] = df_nov['Date']+' '+df_nov['Time']
df_nov.drop(['Date','Time'],axis=1,inplace=True)
df_nov['Count']=0.0

for i in range(1101,1123):
    i = 1104
    raw_ds_dir = f'../final/station/{i}.csv'
    df = pd.read_csv(raw_ds_dir, index_col=False).tail(1620).reset_index(drop=True)
    df.to_csv(f'{i}_1620.csv',index=False)
    break
    df_nov['Count'] = df['Count'].mean()
    df_st = df_nov[df_nov['STATION_NO']==i].drop('STATION_NO',axis=1).reset_index(drop=True)
    df_final = pd.concat([df,df_st]).reset_index(drop=True)
    # break
    df_final.to_csv(f'{i}_1620.csv',index=False)
    break

In [9]:
df_final

,date,Temp,Precipitation,Wind,Snow,Sens_Temp,Holiday,Count
0,2024-08-12 0:00,27.9,0.0,1.9,0.0,30.041378,0.0,120.000000
1,2024-08-12 5:00,26.0,0.0,1.0,0.0,27.976662,0.0,34.000000
2,2024-08-12 6:00,27.1,0.0,0.1,0.0,29.432029,0.0,270.000000
3,2024-08-12 7:00,29.0,0.0,1.7,0.0,31.315205,0.0,735.000000
4,2024-08-12 8:00,30.1,0.0,1.5,0.0,32.566691,0.0,978.000000
...,...,...,...,...,...,...,...,...
2235,2024-12-01 19:00,8.0,0.0,2.0,0.0,6.849028,1.0,570.158642
2236,2024-12-01 20:00,8.0,0.0,2.0,0.0,6.849028,1.0,570.158642
2237,2024-12-01 21:00,7.0,0.0,2.0,0.0,5.683757,1.0,570.158642
2238,2024-12-01 22:00,7.0,0.0,2.0,0.0,5.683757,1.0,570.158642
2239,2024-12-01 23:00,6.0,0.0,1.0,0.0,5.812880,1.0,570.158642

In [ ]:
# exclude_times = ["1:00", "2:00", "3:00", "4:00"]

df_nov = pd.read_csv('november_prediction.csv')
# df_nov = df_nov[~df_nov["Time"].isin(exclude_times)]
df_nov['date'] = df_nov['Date']+' '+df_nov['Time']
df_nov.drop(['Date','Time'],axis=1,inplace=True)
df_nov['Count']=0.0
df_final = pd.concat([df,df_nov]).reset_index(drop=True)

In [67]:
df_final

                  date  Temp  Precipitation   Count
0     2024-09-28 10:00  26.3            0.0  1117.0
1     2024-09-28 11:00  25.7            0.0  1150.0
2     2024-09-28 12:00  27.0            0.0  1191.0
3     2024-09-28 13:00  26.6            0.0  1513.0
4     2024-09-28 14:00  26.2            0.0  2078.0
...                ...   ...            ...     ...
1235   2024-11-29 5:00  -0.3            0.0     0.0
1236   2024-11-29 6:00  -0.4            0.0     0.0
1237   2024-11-29 7:00  -0.6            0.0     0.0
1238   2024-11-29 8:00  -0.8            0.0     0.0
1239   2024-11-29 9:00   1.1            0.0     0.0

[1240 rows x 4 columns]

In [68]:
df_final.to_csv('octnov.csv',index=False)