In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [16]:
dfs=[]
for y in [2022,2023,2024]:
    dfs.append(pd.read_csv(f'{y}_weather_join_v01.csv'))

In [17]:
dfs = pd.concat(dfs)

In [18]:
dfs['date'] = dfs['Date'] + ' ' + dfs['Time']

In [19]:
dfs.drop(['Date','Time'],axis=1, inplace= True)

In [20]:
dfs.columns

Index(['STATION_NO', 'Count', 'Temp', 'Precipitation', 'date'], dtype='object')

In [25]:
for i in range(1101,1123):
    print(i)
    _df = dfs[dfs['STATION_NO']==i].reset_index()
    _df = _df.drop(['STATION_NO'],axis=1)[['date','Temp','Precipitation','Count']]
    _df.loc[_df['date'] == '2022-05-06 9:00', 'Temp'] = 23.0
    _df.loc[_df['date'] == '2022-05-06 9:00', 'Precipitation'] = 0.0
    _df.to_csv(f'./station/{i}.csv',index=False)

1101
1102
1103
1104
1105
1106
1107
1108
1109
1110
1111
1112
1113
1114
1115
1116
1117
1118
1119
1120
1121
1122

In [22]:
df = pd.read_csv('./station/1104.csv')
df

                   date  Temp  Precipitation  Count
0       2022-01-01 5:00  -9.7            0.0     13
1       2022-01-01 6:00  -9.9            0.0     23
2       2022-01-01 7:00  -9.8            0.0     55
3       2022-01-01 8:00  -8.4            0.0    105
4       2022-01-01 9:00  -5.1            0.0    166
...                 ...   ...            ...    ...
20375  2024-10-31 20:00  13.6            0.0    421
20376  2024-10-31 21:00  13.1            0.0    427
20377  2024-10-31 22:00  12.3            0.0    348
20378  2024-10-31 23:00  12.1            0.0    160
20379   2024-10-31 0:00  11.3            0.0     12

[20380 rows x 4 columns]

In [23]:
df = pd.read_csv('./station/1104.csv')
df['Precipitation'] = df['Precipitation']+1e-5
df['Count'] = df['Count']/10
df.to_csv('./station/1104_dummy.csv',index=False)