In [1]:
import numpy as np
import pandas as pd
import os

In [ ]:
raw_ds_dir = '../final/station/1104.csv'

In [77]:
df_nov = pd.read_csv('2024_test_con.csv')
df_nov['date'] = df_nov['Date']+' '+df_nov['Time']
df_nov.drop(['Date','Time'],axis=1,inplace=True)
df_nov['Count']=0.0

for i in range(1101,1123):
    raw_ds_dir = f'../final/station/{i}.csv'
    df = pd.read_csv(raw_ds_dir, index_col=False).tail(620).reset_index(drop=True)
    df_st = df_nov[df_nov['STATION_NO']==i].drop('STATION_NO',axis=1).reset_index(drop=True)
    df_final = pd.concat([df,df_st]).reset_index(drop=True)
    # break
    df_final.to_csv(f'{i}.csv',index=False)

In [76]:
df_final

,date,Temp,Precipitation,Wind,Snow,Sens_Temp,Holiday,Count
0,2024-10-01 0:00,17.7,0.0,0.9,0.0,18.867989,0.0,0.0
1,2024-10-01 5:00,16.5,0.0,0.9,0.0,17.547925,0.0,60.0
2,2024-10-01 6:00,16.6,0.0,0.7,0.0,17.885695,0.0,124.0
3,2024-10-01 7:00,19.6,0.0,0.7,0.0,21.129272,0.0,201.0
4,2024-10-01 8:00,20.6,0.0,2.1,0.0,21.497033,0.0,241.0
...,...,...,...,...,...,...,...,...
1235,2024-12-01 19:00,8.0,0.0,2.0,0.0,6.849028,1.0,0.0
1236,2024-12-01 20:00,8.0,0.0,2.0,0.0,6.849028,1.0,0.0
1237,2024-12-01 21:00,7.0,0.0,2.0,0.0,5.683757,1.0,0.0
1238,2024-12-01 22:00,7.0,0.0,2.0,0.0,5.683757,1.0,0.0
1239,2024-12-01 23:00,6.0,0.0,1.0,0.0,5.812880,1.0,0.0

In [ ]:
# exclude_times = ["1:00", "2:00", "3:00", "4:00"]

df_nov = pd.read_csv('november_prediction.csv')
# df_nov = df_nov[~df_nov["Time"].isin(exclude_times)]
df_nov['date'] = df_nov['Date']+' '+df_nov['Time']
df_nov.drop(['Date','Time'],axis=1,inplace=True)
df_nov['Count']=0.0
df_final = pd.concat([df,df_nov]).reset_index(drop=True)

In [67]:
df_final

                  date  Temp  Precipitation   Count
0     2024-09-28 10:00  26.3            0.0  1117.0
1     2024-09-28 11:00  25.7            0.0  1150.0
2     2024-09-28 12:00  27.0            0.0  1191.0
3     2024-09-28 13:00  26.6            0.0  1513.0
4     2024-09-28 14:00  26.2            0.0  2078.0
...                ...   ...            ...     ...
1235   2024-11-29 5:00  -0.3            0.0     0.0
1236   2024-11-29 6:00  -0.4            0.0     0.0
1237   2024-11-29 7:00  -0.6            0.0     0.0
1238   2024-11-29 8:00  -0.8            0.0     0.0
1239   2024-11-29 9:00   1.1            0.0     0.0

[1240 rows x 4 columns]

In [68]:
df_final.to_csv('octnov.csv',index=False)