In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
raw_ds_dir = '../station/1104.csv'

In [43]:
df = pd.read_csv(raw_ds_dir, index_col=False).tail(620+100).reset_index(drop=True)

In [44]:
df.tail()

                 date  Temp  Precipitation  Count
715  2024-10-31 20:00  13.6            0.0    421
716  2024-10-31 21:00  13.1            0.0    427
717  2024-10-31 22:00  12.3            0.0    348
718  2024-10-31 23:00  12.1            0.0    160
719   2024-10-31 0:00  11.3            0.0     12

In [45]:
exclude_times = ["1:00", "2:00", "3:00", "4:00"]

df_nov = pd.read_csv('november_prediction.csv')
df_nov = df_nov[~df_nov["Time"].isin(exclude_times)]
df_nov['date'] = df_nov['Date']+' '+df_nov['Time']
df_nov.drop(['Date','Time'],axis=1,inplace=True)
df_nov['Count']=0.0
df_final = pd.concat([df,df_nov]).reset_index(drop=True)

In [46]:
df_final

                 date  Temp  Precipitation  Count
0     2024-09-26 5:00  20.7            0.0   29.0
1     2024-09-26 6:00  20.8            0.0  154.0
2     2024-09-26 7:00  22.3            0.0  536.0
3     2024-09-26 8:00  23.7            0.0  689.0
4     2024-09-26 9:00  24.7            0.0  592.0
...               ...   ...            ...    ...
1280  2024-11-29 5:00  -0.3            0.0    0.0
1281  2024-11-29 6:00  -0.4            0.0    0.0
1282  2024-11-29 7:00  -0.6            0.0    0.0
1283  2024-11-29 8:00  -0.8            0.0    0.0
1284  2024-11-29 9:00   1.1            0.0    0.0

[1285 rows x 4 columns]

In [47]:
df_final.to_csv('octnov.csv',index=False)